
<div class="center-container">
	<div class="my-tasks-container">
		My Task Lists:
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary new-list-button" data-toggle="modal" data-target="#exampleModal">
			  New List
			</button>

			<!-- Modal -->
			 <%= form_for @tasklist do |f| %>
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-body">
				    <div class="form-group">
				      <%= f.label :name %>
				      <%= f.text_field :name, class: "form-control", placeholder: "Enter name" %>
				    </div>
			      </div>
			      <div class="modal-footer">
    				<%= f.submit "submit", class: 'btn btn-primary' %>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			  <% end %>
	</div>
	<ul class="list-group">
	  <li class="list-group-item">Cras justo odio</li>
	  <li class="list-group-item">Dapibus ac facilisis in</li>
	  <li class="list-group-item">Morbi leo risus</li>
	  <li class="list-group-item">Porta ac consectetur ac</li>
	  <li class="list-group-item">Vestibulum at eros</li>
	</ul>
</div>

