/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require formtastic
 *= require my_formtastic_changes
 */

@import "bootstrap";

.taskr-nav {
	background-color: #82cef2;
    width: 100%;
    margin-bottom: 20px;
}

div.navbar-header {
	color: white;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.white-font {
	color: white;
	font-size: 24px;
	font-weight: bold;
}

.body-style {
	background-color: #eff2f7;
}

.center-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.my-tasks-container {
	position: relative;
	width: 100%;
	background-color: #81e284;
	color: white;
	font-size: 25px;
	font-wieght: bold;
	corner-radius: 2px;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

.new-list-button {
	position: absolute;
	right: 10px;
	top: 6px;
}

