/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require formtastic
 *= require my_formtastic_changes
 */

@import "bootstrap";

.pull-drowpdown-right {
	position: absolute;
	top: 20px;
	right: 10px;
} 


// The website navigation bar --------------------
.taskr-nav {
	/* background-color: #82cef2; */
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
    border-bottom: 1px solid #d1d1d1;
}

div.navbar-header {
    padding: 5px;
    text-align: center;
    width: 100%;
}

.nav-create {
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 18px;
	height: 40px;
	font-family: 'Open Sans', sans-serif;
}

.login-logout {
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 18px;
	height: 40px;
	font-family: 'Open Sans', sans-serif;
}




.header-font {
	color: #82cef2;
	font-size: 24px;
	font-weight: bold;
}

// flash message -------------------------------------

 .flash {
  position: fixed;
  top: 10px;
  width: 94%;
  margin-left: 50px;
  z-index: 50;
 }

// website body content --------------------------------
.body-style {
	background-color: #f4f6f9;
}

.center-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 10px;
	padding: 0px;
	padding-right: 0px;
  	border: solid #CCCCCC 1pt;
	-webkit-box-shadow: -1px 7px 12px 0px rgba(219,219,219,1);
	-moz-box-shadow: -1px 7px 12px 0px rgba(219,219,219,1);
	box-shadow: -1px 7px 12px 0px rgba(219,219,219,1);
}

// the task lists container ----------------------

.my-tasks-container {
	position: relative;
	width: 100%;
	border-bottom: solid #e5e6e8 1pt;
	color: #71a7dd;
	font-size: 23px;
	font-wieght: bold;
	corner-radius: 2px;
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.categories-container {
	height: 35px;
	line-height: 35px;
	width: 100%;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
	border-bottom: solid #e5e6e8 1pt;
}

.badge {
	padding: 5px;
}

span.badge-info {
	position: relative;
	bottom: 3px;
	padding: 4px;
	font-size: 8px;
	background-color: #71a7dd;
	font-family: 'Open Sans', sans-serif;
}

.new-task-button {
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: #71a7dd;
}

 .checkbox-form {
 	height: 100%;
 	padding-top: 10px;
 }

 .modal {
 	padding-top: -30px;
 }

 // the grapple table ----------------------

td {
	height: 60px;
	border-bottom: solid #e5e6e8 1pt;
	width: 100%;
	padding-left: 20px;
	color: black;
}

.tlist-link {
	color: black;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: light;
}

.sort-name {
	padding-left: 20px;
}

.sortable {
	margin-left: 10px;
	position: relative;
	left: 18px;
	top:10px;
	height: 40px;
	width: 100%;
	border-bottom: solid #e5e6e8 1pt;
	a {
		color: #71a7dd;
	}
}

tr:hover { 
  background-color: #eff2f7;
}

span.author{
	font-size: 10px;
}

// -----------------------
.list-form {
	padding: 20px;
}

ul {
	border-radius: 20px;
}

.task-list-item {
	margin: 0px;
	width: 100%;
	border: none;
	border-bottom: solid #e5e6e8 1pt;
	border-radius: 20px;
}


.btn-primary {
	background-color: #71a7dd;
}

li:hover { 
  background-color: #eff2f7;
}


form.register {
	padding:20px;
}

